body {
    background-color: var(--orange-50);
}

#header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.0);
    padding: 1rem;
    backdrop-filter: blur(1rem);
    z-index: 1;
}

#exercise {
    display: flex;
    justify-content: center;
}

#exercise .exercise-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

#exercise .exercise-container .exercise-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#exercise .exercise-container .exercise-content .content-header {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#exercise .exercise-container .exercise-content .content-header .header {
    line-height: 1.2;
}

#exercise .exercise-container .exercise-content .content-header .header h2 {
    color: var(--orange-400);
    font-weight: 100;
}

#exercise .exercise-container .exercise-content .content-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#exercise .exercise-container .exercise-content .content-info .info-cards {
    display: flex;
    position: relative;
    border-bottom: 1px solid transparent;
}

#exercise .exercise-container .exercise-content .content-info .info-cards .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#exercise .exercise-container .exercise-content .content-info .info-cards .card .card-info {
    display: flex;
    gap: 2rem;
}

#exercise .exercise-container .exercise-content .content-info .info-cards .card .card-info span {
    text-transform: uppercase;
    opacity: 65%;
}

#exercise .exercise-container .exercise-content .content-info .info-cards .card-details {
    height: 16%;
    position: fixed;
    right: 24%;
    top: 50%;
}

#exercise .exercise-container .exercise-content .content-info .info-cards .card-details img {
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.scale-img {
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(3);
}

@media screen and (max-width: 884px) {
    #exercise .exercise-container .exercise-content {
        gap: 8rem;
    }

    #exercise .exercise-container .exercise-content .content-header {
        width: 80%;
    }

    #exercise .exercise-container .exercise-content .content-info .info-cards {
        display: flex;
        flex-direction: column-reverse;
    }

    #exercise .exercise-container .exercise-content .content-info .info-cards .card-details img {
        width: 100%;
        height: 100%;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease;
    }

    #exercise .exercise-container .exercise-content .content-info .info-cards .card-details {
        height: 100%;
        width: 80%;
        position: static;
    }

    .scale-img {
        opacity: 1 !important;
        visibility: visible !important;
        transform: scale(1);
    }
}

@media screen and (max-width: 442px) {
    #exercise .exercise-container .exercise-content .content-info .info-cards .card-details {
        height: 100%;
        width: 100%;
        position: static;
    }
}